.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    .title {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      transform: rotate(0);
    
      .waveLoop {
        display: inline-block;
        transform: rotate(0);
        animation: wave 2.5s infinite;
      }
    }
  
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;
      max-width: 300px;
      padding: 1rem;

      .error {
        color: red;
      }
  
      .label {
        align-self: flex-start;
      }

      .input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #000;
        border-radius: 5px;
  
        &:focus {
          outline: none;
          border-color: #000;
        }
      }

      .btn {
        padding: 0.5rem 4rem;
        border: none;
        border-radius: 5px;
        background-color: var(--app-color);
        color: #fff;
        cursor: pointer;
  
        &:hover {
          background-color: #166ea9;
        }
      }
    }
  }
  
}

@keyframes wave {
  0% {
    transform: rotate(-30deg)
  }
  50% {
    transform: rotate(90deg)
  }
  100% {
    transform: rotate(-30deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}
